<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/common/adminHead::head(~{::title},~{::link},~{::script})}">
    <title>用户权限管理-后台管理-梦想众筹系统</title>
    <!--额外添加的-->
    <script type="text/javascript" th:src="@{/admin/js/userRole.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部-->
    <div th:replace="~{/admin/common/adminHead::#adminHead-head}">头部导航栏</div>
    <!--左边-->
    <div th:replace="~{/admin/common/adminHead::left(ParActive='4',ChildActive='3.2')}">左边导航栏</div>
    <!--底部-->
    <div th:replace="~{/admin/common/adminHead::#adminHead-foot}">底部</div>

    <!--中间内容-->
    <div class="layui-body c1">
        <!--中间内容-->
        <div class="layui-body c1">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <!-- 字典管理-->
                <div class="layui-card">
                    <div class="layui-card-header">用户权限管理</div>
                    <div class="layui-card-body">
                        <div class="layui-row " style="min-height: 613px;">
                            <!--左边用户权限类型-->
                            <div class="layui-col-xs3 layui-col-md3 " style="">
                                <!--添加权限-->
                                <br><br>
                                <h2 style="text-align: center">权限类型</h2>
                                <button class="layui-btn layui-btn-sm addRole">添加权限</button>
                                <table class="roleTable" lay-filter="roleTable"
                                       id="roleTable"></table>
                                <!--表单工具按钮-->
                                <script type="text/html" id="rowBar1">
                                    <a class="layui-btn layui-btn-xs" lay-event="update">修改</a>
                                    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
                                </script>
                                <!-- 分页器 -->
                                <div class="layui-row fenyediv">
                                    <div id="fenye" class="layui-col-md12"></div>
                                </div>
                            </div>
                            <!--右边边用户权限设置-->
                            <div class="layui-col-md-offset1 ayui-col-xs-offset1 layui-col-xs8 layui-col-md8 "
                                 style="text-align: center;">
                                <br><br>
                                <h2 style="text-align: center">用户权限设置</h2>
                                <table class="userRoleTable" lay-filter="userRoleTable"
                                       id="userRoleTable">
                                </table>
                                <!--表单工具按钮-->
                                <script type="text/html" id="rowBar2">
                                    <a class="layui-btn layui-btn-xs" lay-event="update">修改</a>
                                </script>
                                <!-- 分页器 -->
                                <div class="layui-row fenyediv">
                                    <div id="fenye2" class="layui-col-md12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--权限类型表单弹框-->
<div class="layui-col-md4 roleDiv" style="width: 95%;display: none">
    <br>
    <h1 style="text-align: center">权限类型修改/添加</h1>
    <form class="layui-form roleForm" action="javascript:void(0)" id="roleForm"
          lay-filter="roleForm">
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">权限名：</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" value="">
                <input type="text" name="rroleName" lay-verify="required"
                       placeholder="权限名" class="layui-input rroleName " value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限操作：</label>
            <div class="layui-input-block">
                <input type="text" name="roperate" lay-verify="required"
                       placeholder="权限操作" class="layui-input roperate" value="">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: right">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="roleForm">修改/添加</button>
                <a class="layui-btn closeBtn" href="javascript:void(0)">返回</a>
            </div>
        </div>
    </form>
</div>
<!--用户权限表单弹框-->
<div class="layui-col-md4 userRoleDiv" style="width: 95%;display: none">
    <br>
    <h1 style="text-align: center">权限类型修改/添加</h1>
    <form class="layui-form userRoleForm" action="javascript:void(0)" id="userRoleForm"
          lay-filter="userRoleForm">
        <br>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" value="">
                <input type="hidden" name="userInfo.id" value="">
                <input type="text" name="userInfo.uusername" lay-verify="required"
                       placeholder="用户名" class="layui-input rm1" value="" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限选择：</label>
            <div class="layui-input-block">
                <select name="role.id" lay-verify="required" class="roleSelect">
                    <option value=""></option>
                    <option value="1">管理员</option>
                    <option value="2">普通用户</option>
                    <option value="3">游客-</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: right">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="userRoleForm">修改/添加</button>
                <a class="layui-btn closeBtn" href="javascript:void(0)">返回</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>