<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fore/common/head::head(~{::title},~{::link},~{::script})}">
    <title>梦想计划-梦想众筹-发现新生活</title>
    <!--额外添加的-->
    <link rel="stylesheet" th:href="@{/css/allproject.css}">
    <script type="text/javascript" th:src="@{/js/dream.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <!--导航栏-->
    <div th:replace="~{/fore/common/head::#myNav}">导航栏</div>
    <br/>

    <!-- 项目内容 -->
    <div class="layui-row">
        <!--大头图片-->
        <div class="dmHImgDiv">
            <div class="dmHImgTitle">梦想计划，开创未来计划</div>
        </div>
        <br/>
        <!-- 左边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankCol1"></div>
        <!-- 中间内容块 -->
        <div class="layui-col-md10 layui-col-xs10 centerCol">
            <!--标题信息-->
            <div class="dmHImgInfo">梦想计划，是指通过让已结束的项目通过梦想计划后可以继续筹集金额，
                不受过期的影响。同时会有相应的技术客服对你进行各方面的建议和指导！
            </div>
            <hr>

            <!-- 发现项目 -->
            <!-- 标题快 -->
            <div class="layui-row  layui-col-space5 ">
                <!-- 左边大标题和数量 -->
                <div class=" layui-col-md4 projectTitleDiv ">
                    <span class="ptitle">梦想计划</span>
                    <span class="pnumber">0</span>
                    <span>个项目</span>
                </div>
            </div>
            <hr/>
            <!-- 项目内容块 -->
            <div class=" layui-row layui-col-space20 projectDiv projectDiv4">
                <div class="layui-col-md3 layui-col-xs6 ">
                    <div>
                        <!-- 保存的项目id -->
                        <input type="hidden" value="" name="" id=""/>
                        <img src="/img/13.jpg" alt="1.jpg"/>
                        <!-- 项目文字信息 -->
                        <div>
                            <div class="Pinfo">
                                <!-- 项目名 -->
                                <div class="Pname">
                                    最强的打人机打发十分大师傅顶顶顶顶顶顶顶顶顶顶
                                </div>
                                <!-- 发布者名字和项目阶段 -->
                                <div class="Uname">
                                    <i class="layui-icon layui-icon-username"></i>
                                    <span>athink</span>
                                    <!-- 项目阶段 -->
                                    <span class="Pstage">预售</span>
                                </div>
                                <!-- 项目统计金额 -->
                                <div class="Pamount layui-row">
                                    <span class="layui-col-md1 layui-col-xs1">¥</span>
                                    <i class="Pnowmoney layui-col-md8 layui-col-xs8">1000000000</i>
                                    <i class="Ppercent layui-col-md2 layui-col-xs2">300%</i>
                                </div>
                                <!-- 进度条 -->
                                <div style="margin-top: 8px; width:95%">
                                    <div class="layui-progress">
                                        <div class="layui-progress-bar" lay-percent="70%" style="width: 70%;"></div>
                                    </div>
                                </div>
                                <!-- 项目支持数-->
                                <div class="Psupport">
                                    100000支持者
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3 layui-col-xs6">
                    <div>
                        <img src="/img/13.jpg"/>
                        <!-- 项目文字信息 -->
                        <div>
                            <div class="Pinfo">
                                <!-- 项目名 -->
                                <div class="Pname">
                                    最强的打人机打发十分大师傅顶顶顶顶顶顶顶顶顶顶
                                </div>
                                <!-- 发布者名字 -->
                                <div class="Uname">
                                    <i class="layui-icon layui-icon-username"></i>
                                    athink
                                </div>
                                <!-- 项目统计金额 -->
                                <div class="Pamount layui-row">
                                    <span class="layui-col-md1 layui-col-xs1">¥</span>
                                    <i class="Pnowmoney layui-col-md8 layui-col-xs8">1000000000</i>
                                    <i class="Ppercent layui-col-md2 layui-col-xs2">300%</i>
                                </div>
                                <!-- 进度条 -->
                                <div style="margin-top: 8px; width:95%">
                                    <div class="layui-progress">
                                        <div class="layui-progress-bar" lay-percent="70%" style="width: 70%;"></div>
                                    </div>
                                </div>
                                <!-- 项目支持数-->
                                <div class="Psupport">
                                    100000支持者
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- 右边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankcol1"></div>
    </div>

    <!-- 分页器 -->
    <div class="layui-row fenyediv">
        <div id="fenye" class="layui-col-md12"></div>
    </div>

    <br/><br/><br/>

    <!-- 结尾部 -->
    <div th:replace="~{/fore/common/head::#myFooter}">结尾部</div>

</div>
</body>
</html>