<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fore/common/head::head(~{::title},~{::link},~{::script})}">
    <title>项目详情-梦想众筹-发现新生活</title>
    <!--额外添加的-->
    <link rel="stylesheet" th:href="@{/css/projectDetail.css}">
    <script type="text/javascript" th:src="@{/js/projectDetail.js}"></script>
    <!--二维码库生成-->
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <!--验证码-->
    <link rel="stylesheet" th:href="@{/lib/jQvalicode/verify.css}">
    <script type="text/javascript" th:src="@{/lib/jQvalicode/verify.min.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <!--导航栏-->
    <div th:replace="~{/fore/common/head::#myNav}">导航栏</div>

    <br/><br/><br/>
    <!-- 项目内容 -->
    <div class="layui-row">
        <!-- 左边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankCol1"></div>
        <!-- 中间内容块 -->
        <div class="layui-col-md10 layui-col-xs10 centerCol">
            <!-- 项目信息 -->
            <div class="layui-row layui-col-space25 pinfoDiv">
                <!-- 项目id -->
                <input type="hidden" name="id" class="pid" value="">
                <!-- 项目名 -->
                <div class=" layui-col-md7 projectTitleDiv ">
                    <div class="pname">
                        项目名:史诗之路
                    </div>
                </div>
                <!-- 用户名 -->
                <div class=" layui-col-md2 UnameDiv ">
                    <div>
                        <!-- 用户id -->
                        <input type="hidden" class="uid" name="uid" value="">
                        <!-- 用户名-->
                        <a href="javascript:void(0)" class="unamediv">
                            <i class="layui-icon layui-icon-user" style="font-size: 20px;"></i>
                            <span name="uname" class="uname">Athink</span>
                        </a>
                    </div>
                    <div>发起这个项目</div>
                </div>
                <!-- 项目类型 -->
                <div class=" layui-col-md2 ptypediv ">
                    <i class="layui-icon layui-icon-note"></i>
                    <span class="pstage">预售</span>|
                    <i class="layui-icon layui-icon-app"></i>
                    <span class="ptype">游戏</span>
                </div>
                <hr class="layui-col-md-offset7 layui-col-md4" style="padding: 0px"/>
                <!-- 左边 -->
                <div class="layui-col-md7 ">
                    <!-- 左边图片 -->
                    <div class="layui-row pheadimgDiv">
                        <!--<img src="/img/1.jpeg" alt="1jpg" class="pheadimg" id="pheadimg"/>-->
                        <img src="" alt="加载中.." class="pheadimg" id="pheadimg"/>
                    </div>
                </div>
                <!-- 右边文字信息 -->
                <div class="layui-col-md4 pinfo">
                    <!-- 项目统计金额 -->
                    <div class="pamount">
                        <div class="pnowMoneyDiv">
                            <span>已售&nbsp;¥</span>
                            <span class="pnowMoney">1000</span>
                        </div>
                        <div class="ppercentDIV">
                            <div style="margin-top: 8px; width:100%">
                                <div class="layui-progress" lay-filter="ppercent2">
                                    <div class="layui-progress-bar ppercent2" lay-percent="10%"
                                         style="width: 70%;" lay-filter="ppercent2"></div>
                                </div>
                            </div>
                            <i class="ppercent">10%</i>
                        </div>
                        <div class="ptarMoneyDiv">
                            <span>目标金额&nbsp;¥</span>
                            <span class="ptarMoney">10000</span>
                        </div>
                    </div>
                    <!-- 项目剩余时间-->
                    <div class="pendDayDiv">
                        <p class="pendDay">40天</p>
                        <p>&nbsp;剩余时间</p>
                    </div>
                    <!-- 项目支持数-->
                    <div class="psupportDiv">
                        <p class="psupportNum">100人</p>
                        <p>&nbsp;支持人数</p>
                    </div>
                    <!-- 支持按钮 -->
                    <div class="psupportBtnDiv">
                        <button type="button"
                                class="layui-btn  layui-btn-disabled layui-btn-lg  layui-btn-radius pEndBtn"
                                style="width: 70%;color: darkcyan;display: none">
                            已结束|未开始
                        </button>
                        <button type="button" class="layui-btn layui-btn-lg  layui-btn-radius psupportBtn"
                                style="width: 70%;">
                            <i class="layui-icon layui-icon-rmb"></i>
                            立即购买支持
                        </button>
                        <a class="collectBtn" href="javascript:void(0)"
                           style="margin-left: 2%;color:rgba(153, 153, 153, 0.9);">
                            <i class="layui-icon layui-icon-rate-solid"></i>收藏
                        </a>
                    </div>
                    <!-- 完成提示语 -->
                    <div class="Pmsg">
                        <span>此项目须在</span>
                        <span class="pendDate">2020-01-19 23:00</span>
                        <span>前达到</span>¥
                        <span class="ptarMoney"> 10,000 </span>
                        <span>的目标才可成功</span>
                        <i class="layui-icon layui-icon-face-smile"></i>
                    </div>
                    <br/>
                    <hr style="padding: 0px"/>
                </div>
                <br/>
                <div class="layui-row">
                    <!-- 项目简介 -->
                    <div class="pintroduce layui-col-md7">
								<span>
									啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
								</span>
                    </div>
                    <!--分享-->
                    <div class=" layui-col-md4 share">
                        <!--二维码-->
                        <span>分享项目到&nbsp;&nbsp;</span>
                        <span>
							<a href="javascript:void(0)">
                                <i class="layui-icon layui-icon-login-wechat"
                                   style="font-size: 32px;color: rgba(153, 153, 153, 1);"></i></a>
							<a href="javascript:void(0)">
                                <i class="layui-icon layui-icon-login-qq"
                                   style="font-size: 32px;color: rgba(153, 153, 153, 1);"></i></a>
							<a href="javascript:void(0)">
                                <i class="layui-icon layui-icon-login-weibo"
                                   style="font-size: 32px;color: rgba(153, 153, 153, 1);"></i></a>
						</span>
                        <div id="shareQrcode" class="shareQrcode"></div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <!-- 右边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankCol1"></div>
    </div>
    <hr/>

    <!-- 第二页-->
    <div class="layui-row" style="background-color: white;">
        <!-- 左边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankCol1"></div>
        <!-- 中间内容块 -->
        <div class="layui-col-md10 layui-col-xs10 centerCol">
            <div class="layui-row">
                <!-- 左边 -->
                <div class="layui-col-md8">
                    <!-- 第二页菜单栏 -->
                    <div class="layui-tab layui-tab-brief" lay-filter="nav2">
                        <ul class=" layui-tab-title">
                            <li class="layui-this">项目详情</li>
                            <li>评论<span class="commentNum">0</span></li>
                            <li>支持者<span class="supportNum">0</span></li>
                        </ul>
                        <br/>
                        <!-- 每一项内容 -->
                        <div class="layui-tab-content">
                            <!-- 项目详细内容项 -->
                            <div class="layui-tab-item layui-show">
                                <span class="mdTitle1">项目详情</span>
                                <hr class="layui-bg-blue" style="width: 13%">
                                <div class="pcontent">
                                    <h1 style="text-align: center;color: #007DDB;">athink</h1>
                                    <h2 style="text-align: center;color: rosybrown;">今天天气不错</h2>
                                    <img src="/img/10.jpg"/>
                                    <p style="line-height: 1.6;font-size: 18px;">
                                        大家觉得我怎么样呢！！是故宫出版社互动解谜游戏系列书籍《谜宫》第二部。拿到这本书，你就化身为一名清朝“侦探”，去侦破一件震惊朝野的科场大案。案卷卷汇、科举试卷、大清宝钞、咸丰元宝等20多件充满谜团的物件和线索道具，带你亲历一场古代探案之旅</p>
                                    <p style="line-height: 1.6;font-size: 18px;">
                                        大家觉得我怎么样呢！！是故宫出版社互动解谜游戏系列书籍《谜宫》第二部。拿到这本书，你就化身为一名清朝“侦探”，去侦破一件震惊朝野的科场大案。案卷卷汇、科举试卷、大清宝钞、咸丰元宝等20多件充满谜团的物件和线索道具，带你亲历一场古代探案之旅</p>
                                </div>
                            </div>
                            <!-- 评论项 -->
                            <div class="layui-tab-item" style="background-color: rgba(63,175,175,0.2)">
                                <div class="commentFormDiv ">
                                    <br>
                                    <h1 style="text-align: left"><i class="layui-icon layui-icon-reply-fill"></i> 评论
                                    </h1>
                                    <form class="layui-form commentForm" action="javascript:void(0)" id="commentForm"
                                          lay-filter="commentForm">
                                        <!-- 评论内容 -->
                                        <div class="layui-form-item layui-form-text">
                                            <div class="layui-input-block">
                                                <!-- 评论内容输入框 -->
                                                <textarea name="cmContent" required="required" maxlength="250"
                                                          lay-verify="required" placeholder="请输入评论内容吧~250字以内哦~"
                                                          class="layui-textarea cmcontent"></textarea>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="text-align: right;width: 98%;">
                                            <div class="layui-input-block">
                                                <span class="c1">还能输入
                                                    <span class="fontNum">250</span>个字符
                                                </span>
                                                <button class="layui-btn" lay-submit lay-filter="commentForm">确定评论
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <br><br>
                                <div class="mdTitle1"><span class="commentNum">0</span>评论</div>
                                <hr class="layui-bg-blue" style="width: 17%">
                                <div class="comments">
                                    <div class="comment">
                                        <div>
                                            <input type="hidden" class="cmId">
                                            <input type="hidden" class="cmUid">
                                            <span class="cmname">管理员</span>
                                            <span class="cmcreateDate">长长久久</span>
                                        </div>
                                        <div class="cmcontent">这里还没有评论呢！！</div>
                                    </div>
                                </div>
                                <br>

                                <!--未登录时的弹框-->
                                <div class="goLoginBtns" style="display: none;text-align: center">
                                    <br><br>
                                    <button class="layui-btn">登录</button>
                                    <button class="layui-btn">注册</button>
                                    <br>
                                </div>

                                <!--提交评论后的验证码弹框-->
                                <div class="cmValicodeDiv" style="display: none;margin-left: 22%;">
                                    <br><br>
                                    <div id="cmValicode"></div>
                                    <button type="button" id="checkBtn1" class="verify-btn">确定</button>
                                    <br>
                                </div>
                            </div>
                            <!-- 支持者项 -->
                            <div class="layui-tab-item">
                                <p class="mdTitle1 ">支持者:<span class="supportNum">20</span></p>
                                <hr class="layui-bg-blue" style="width: 14%">
                                <div class="supports">
                                    <div><span class='uName'>@athink:</span><span>支持100元</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 右边 -->
                <div class="layui-col-md4">
                    <!-- 风险提示 -->
                    <div>
                        <div class="tip1">
                            <h3>风险提示</h3>
                            <p>1. 您参与预售是支持将创意变为现实的过程，而不是直接的商品交易，因此存在一定风险。请您根据自己的判断选择、支持预售项目。
                            </p>
                            <p>2. 预售存在于发起人与支持者之间，本网网作为第三方平台，只提供网络空间、技术支持等服务。预售的回报产品和承诺由发起人提供和作出，本网不参与和担保预售项目的具体运作。
                            </p>
                            <p>3.
                                预售项目的回报发放及其他后续服务事项均由发起人负责。如果发生发起人无法发放回报、延迟发放回报、不提供回报后续服务等情形，您需要直接和发起人协商解决，本网网对此不承担任何责任。
                            </p>
                            <p>
                                4.由于发起人能力和经验不足、市场风险、法律风险等各种因素，预售可能失败。对于在预售期限届满前失败的项目，您支持项目的款项会全部原路退还给您；对于预售成功的项目，支持者不能通过本网平台申请退款，若此时支持者因任何原因希望退款，需直接与发起者协商，若发起者同意退款，需直接向支持者退回款项，本网不会从可结算款项中扣除该部分退款金额。您对项目发起人的无偿支持以及额外打赏，一旦预售成功将不予退款，但预售失败的情况除外。
                            </p>
                        </div>
                        <a href="javascripe:void(0)" style="margin-left: 80%;" class="tip1More">查看更多
                            <i class="layui-icon layui-icon-triangle-d"></i>
                            <i class="layui-icon layui-icon-up" style="display: none;"></i>
                        </a>
                    </div>
                    <br/>
                    <!-- 回报支持 -->
                    <div class="yourSupportDiv">
                        <!-- 无偿支持 -->
                        <div class="yourSupport">
                            <p class="mdTitle1"><span class="rcontent">无偿支持</span></p>
                            <hr/>
                            <p class="mdTitle2">选择此项，项目成功后发起人将不会给您发放回报。感谢您的支持。</p>
                            <button type="button" class="layui-btn layui-btn-lg yourSupportBtn noMoney">去支持</button>
                        </div>
                        <br/>
                        <!-- 动态添加的支持 -->
                        <!-- <div class="reportsDiv">
                             <div class="yourSupport">
                                 <input type="hidden" name="rid" value="" class="rid">
                                 <input type="hidden" name="pid" value="" class="pid">
                                 <div class="mdTitle1">
                                     <span class="rmoney">298</span>元
                                 </div>
                                 <div class="rtype">虚拟回报</div>
                                 <div class="mdTitle2">
                                     <span>限量</span>/
                                     <span class="roneAmount">每人限量5份</span>/
                                     <span class="rallAmount">总限量100份</span>
                                 </div>
                                 <hr/>
                                 <div class="rcontent">这里是动态获取的回报内容哦</div>
                                 <div class="mdTitle2">预计回报发放时间：
                                     <span class="rreportDate">2020-2-20</span>
                                 </div>
                                 <button type="button" class="layui-btn layui-btn-lg yourSupportBtn">去支持</button>
                             </div>
                         </div>-->
                        <div class="reportsDiv">
                            <div class="yourSupport"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 右边留白一格 -->
        <div class="layui-col-md1 layui-col-xs1 blankCol1"></div>
    </div>

    <!-- 回报支持确定表单 -->
    <div class=" layui-col-md4 orderFormDiv " style="width: 95%;display: none">
        <br>
        <h1 style="text-align: center">确定要支持吗？</h1>
        <form class="layui-form orderForm" action="javascript:void(0)" id="orderForm"
              lay-filter="orderForm">
            <br>
            <div class="layui-form-item">
                <label class="layui-form-label" style="text-align: center;">订单名：</label>
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="pid" value="">
                    <input type="hidden" name="uid" value="">
                    <input type="hidden" name="rid" value="">
                    <input type="text" name="oname"
                           placeholder="" class="layui-input rm1" value=""
                           readonly="readonly">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">订单金额：</label>
                <div class="layui-input-block">
                    <input type="text" name="omoney" lay-verify="required|not0|number"
                           maxlength="8" placeholder="默认 1 (元)" class="layui-input oMoney rm1" value=""
                           readonly="readonly" style="display: initial;width: 20%;">(元)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="text-align: center;">数量：
                </label>
                <div class="layui-input-block">
                    <input type="text" name="onum" placeholder="" lay-verify="required|not0"
                           class="layui-input oNum" value="" style="width: 20%;display: initial;">
                    <i class="layui-icon layui-icon-addition addoNum" style="cursor: pointer;color: coral;"></i>
                </div>
            </div>
            <div class="layui-form-item" style="text-align: right">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="orderForm">确定！</button>
                </div>
            </div>
        </form>
    </div>

    <hr style="width: 100%;height: 1px;"/>
    <br/><br/>

    <!-- 结尾部 -->
    <div th:replace="~{/fore/common/head::#myFooter}">结尾部</div>

</div>
</body>
</html>