<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="~{/fore/common/head::head(title='发现新生活',~{::link})}">-->
<head th:replace="~{fore/common/head::head(~{::title},~{::link},~{::script})}">
    <title>回报设置-梦想众筹-发现新生活</title>
    <!--额外添加的-->
    <link rel="stylesheet" th:href="@{/css/publishProject3.css}">
    <script type="text/javascript" th:src="@{/js/publishProject3.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <!--导航栏-->
    <div th:replace="~{/fore/common/head::#myNav}">导航栏</div>
    <br><br/><br/>

    <!-- 项目内容 -->
    <div class="layui-row">
        <!-- 左边留白两格 -->
        <div class="layui-col-md2 layui-col-xs2 blankCol1"></div>
        <!-- 中间内容块 -->
        <div class="layui-col-md8 layui-col-xs8 layui-col-space25 centerCol">
            <!-- 编辑项目资料 -->
            <!-- 发布项目标题 -->
            <div class="layui-row ">
                <div class=" layui-col-md12 projectTitle">
                    编辑项目资料
                </div>
            </div>
            <br><br><br>
            <!-- 阶段标题 -->
            <div th:replace="~{/fore/common/head::#stageTitle}">阶段标题</div>
            <!--隐藏的当前阶段标识-->
            <input type="hidden" class="nowStageTitle" value="3">
            <br/><br/><br><br>

            <!-- 设置回报内容 -->
            <div class="layui-row ">
                <!-- 标题内容 -->
                <div class="layui-col-md10 layui-col-xs10">
                    <!-- 标题 -->
                    <div class=" mdTitle1">
                        设置回报 *
                    </div>
                    <hr width="10%"/>
                    <!-- 小标题 -->
                    <div class=" mdTitle2">
                        (设置多个回报或档次能提高项目的支持率。回报是项目的衍生品,与项目内容有关的回报更能吸引到大家的支持。)
                    </div>
                    <br/>
                </div>
                <!-- 回报表格 -->
                <div class="layui-row">
                    <table class="layui-table reportTable">
                        <colgroup>
                            <col width="15">
                            <col width="100">
                            <col width="110">
                            <col width="180">
                            <col width="140">
                            <col width="130">
                            <col width="130">
                            <col width="90">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>回报类型</th>
                            <th>支付金额(元)</th>
                            <th>回报内容</th>
                            <th>回报时间</th>
                            <th>回报名额</th>
                            <th>单笔数量</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <!-- 保存回报内容 -->
                    <div class="reportContentInfo"></div>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm addReportBtn"><i
                            class="layui-icon">&#xe608;</i>添加回报
                    </button>
                </div>

                <!-- 添加回报表单 -->
                <div class="layui-row">
                    <form class="layui-form" action="javascript:void1()" id="reportForm" style="display: none;"
                          lay-filter="reportForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">回报类型</label>
                            <div class="layui-input-block">
                                <input type="hidden" class="reportId" value="0" name="reportId"/>
                                <select name="reportType" required lay-verify="required" class="needUpdate">
                                    <option value=""></option>
                                    <option value="0">虚拟物品</option>
                                    <option value="1">实体物品</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">支持金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="money" required lay-verify="required|number"
                                       placeholder="请输入金额(元)" autocomplete="off"
                                       class="layui-input needUpdate">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">回报内容</label>
                            <div class="layui-input-block">
										<textarea name="reportContent" placeholder="请输入内容,内容不应超过120字"
                                                  class="needUpdate layui-textarea" required
                                                  lay-verify="required" maxlength="120"
                                                  style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">回报名额</label>
                            <div class="layui-input-block">
                                <input type="text" name="allAmount" required lay-verify="required|number"
                                       placeholder="“0”为不限回报数量(名)"
                                       autocomplete="off" class="needUpdate layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单笔数量</label>
                            <div class="layui-input-block">
                                <input type="text" name="oneAmount" required lay-verify="required|number"
                                       placeholder="“0”为不限回报数量(名)"
                                       autocomplete="off" class="needUpdate layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">回报时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="reportDate" required lay-verify="required|number|reportDate"
                                       placeholder="距离项目结束后（）天"
                                       autocomplete="off" class="needUpdate layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="reportForm">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>


                <br/><br/><br/><br/>
                <!-- 提交按钮 -->
                <div class="layui-row">
                    <div class="layui-col-md-offset8 layui-col-md2 pinfodiv" style="height: 38px;line-height: 45px;">
                        <p style="float: left;">查看 &nbsp;</p>
                        <a href="#pinfo">《发起者协议》</a>
                    </div>
                    <div class="layui-col-md2 ">
                        <button type="button" class="layui-btn saveBtn" id="saveBtn">保存，进入下一步</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- 左边留白两格 -->
        <div class="layui-col-md2 layui-col-xs2 blankCol1"></div>
    </div>

    <!-- 结尾部 -->
    <br/><br/><br/>
    <div th:replace="~{/fore/common/head::#myFooter}">结尾部</div>
</div>
</body>
</html>