<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>回报设置-梦想众筹-发现新生活</title>
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<script src="../../static/lib/jQuery/jquery-1.11.0.min.js" type="text/javascript"></script>
		<link rel="stylesheet" media="all" href="../../static/lib/layui/css/layui.css" />
		<script type="text/javascript" src="../../static/lib/layui/layui.js"></script>
		<script type="text/javascript" src="../../static/js/publishProject3.js"></script>
		<link rel="stylesheet" href="../../static/css/publishProject3.css" />
	</head>
	<body>
		<div class="layui-fluid">
			<!-- 导航栏 -->
			<nav id="myNav">
				<ul class="layui-nav " lay-filter="">
					<li class="layui-nav-item " id="myNavLogo"><a href="index.html"><img src="../../static/img/smallico.png" class="layui-nav-img">梦想众筹</a></li>
					<!-- <li class="layui-nav-item "><a href="#2">首页</a></li> -->
					<li class="layui-nav-item"><a href="allproject.html">发现项目</a></li>
					<li class="layui-nav-item"><a href="#4">梦想计划</a></li>
					<li class="layui-nav-item"><a href="publishProject1.html">发布众筹</a></li>
					<li class="layui-nav-item"><a href="#3">资讯动态</a></li>
					<li class="layui-nav-item" id="myNavLogin">
						<a href="#3">登录</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:;">注册</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item navUser" id="loginUser">
						<a href="#3">jz</a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:;">退出登录</a></dd>
						</dl>
					</li>
				</ul>
			</nav>
			<br /><br /><br />

			<!-- 项目内容 -->
			<div class="layui-row">
				<!-- 左边留白两格 -->
				<div class="layui-col-md2 layui-col-xs2 blankCol1"></div>
				<!-- 中间内容块 -->
				<div class="layui-col-md8 layui-col-xs8 layui-col-space25 centerCol">
					<!-- 编辑项目资料 -->
					<!-- 发布项目标题 -->
					<div class="layui-row ">
						<div class=" layui-col-md12 projectTitle">
							编辑项目资料
						</div>
					</div>
					<br><br><br>
					<!-- 阶段标题 -->
					<div class="layui-row ">
						<div class="layui-col-md1 layui-col-xs0 ">&nbsp;</div>
						<div class=" layui-col-md10 layui-col-xs12 publishTitle">
							<div class="layui-col-md-offset1 layui-col-xs-offset1  layui-col-md2 layui-col-xs2">
								<i class="layui-icon layui-icon-ok-circle" style="color: #CCCCCC;"></i>
								<span>基础信息</span>
							</div>
							<div class="layui-col-md2 layui-col-xs2">
								<i class="layui-icon layui-icon-ok-circle" style="color: #CCCCCC;"></i>
								<span>详细内容</span>
							</div>
							<div class="layui-col-md2 layui-col-xs2">
								<i class="layui-icon layui-icon-ok-circle" style="color: #CCCCCC;"></i>
								<span>设置回报</span>
							</div>
							<div class="layui-col-md2 layui-col-xs2">
								<i class="layui-icon layui-icon-ok-circle" style="color: #CCCCCC;"></i>
								<span>联系信息</span>
							</div>
							<div class="layui-col-md2 layui-col-xs2">
								<i class="layui-icon layui-icon-ok-circle" style="color: #CCCCCC;"></i>
								<span>认证信息</span>
							</div>
						</div>
						<div class="layui-col-md1 layui-col-xs0 ">&nbsp;</div>
					</div>
					<br /><br /><br><br>

					<!-- 设置回报内容 -->
					<div class="layui-row ">
						<!-- 标题内容 -->
						<div class="layui-col-md10 layui-col-xs10">
							<!-- 标题 -->
							<div class=" mdTitle1">
								设置回报 *
							</div>
							<hr width="10%" />
							<!-- 小标题 -->
							<div class=" mdTitle2">
								(设置多个回报或档次能提高项目的支持率。回报是项目的衍生品,与项目内容有关的回报更能吸引到大家的支持。)
							</div>
							<br />
						</div>
						<!-- 回报表格 -->
						<div class="layui-row">
							<table class="layui-table reportTable">
								<colgroup>
									<col width="15">
									<col width="100">
									<col width="110">
									<col width="180">
									<col width="140">
									<col width="130">
									<col width="130">
									<col width="90">
								</colgroup>
								<thead>
									<tr>
										<th>序号</th>
										<th>回报类型</th>
										<th>支付金额(元)</th>
										<th>回报内容</th>
										<th>回报时间</th>
										<th>回报名额</th>
										<th>单笔数量</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
							<!-- 保存回报内容 -->
							<div class="reportContentInfo"></div>
							<button type="button" class="layui-btn layui-btn-primary layui-btn-sm addReportBtn"><i class="layui-icon">&#xe608;</i>添加回报</button>
						</div>

						<!-- 添加回报表单 -->
						<div class="layui-row">
							<form class="layui-form" action="javascript:void1()" id="reportForm" style="display: none;"
								  lay-filter="reportForm">
								<div class="layui-form-item">
									<label class="layui-form-label">回报类型</label>
									<div class="layui-input-block">
										<input type="hidden" class="reportId" value="0" name="reportId" />
										<select name="reportType" required lay-verify="required" class="needUpdate">
											<option value=""></option>
											<option value="0">虚拟物品</option>
											<option value="1">实体物品</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">支持金额</label>
									<div class="layui-input-block">
										<input type="text" name="money" required lay-verify="required|number" placeholder="请输入金额(元)" autocomplete="off"
										 class="layui-input needUpdate">
									</div>
								</div>
								<div class="layui-form-item layui-form-text">
									<label class="layui-form-label">回报内容</label>
									<div class="layui-input-block">
										<textarea name="reportContent" placeholder="请输入内容,内容不应超过120字" class="needUpdate layui-textarea" required
										 lay-verify="required" maxlength="120" style="resize: none;"></textarea>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">回报名额</label>
									<div class="layui-input-block">
										<input type="text" name="allAmount" required lay-verify="required|number" placeholder="“0”为不限回报数量(名)"
										 autocomplete="off" class="needUpdate layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">单笔数量</label>
									<div class="layui-input-block">
										<input type="text" name="oneAmount" required lay-verify="required|number" placeholder="“0”为不限回报数量(名)"
										 autocomplete="off" class="needUpdate layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">回报时间</label>
									<div class="layui-input-block">
										<input type="text" name="reportDate" required lay-verify="required|number|reportDate" placeholder="距离项目结束后（）天"
										 autocomplete="off" class="needUpdate layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit lay-filter="reportForm">立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form>
						</div>


						<br /><br /><br /><br />
						<!-- 提交按钮 -->
						<div class="layui-row">
							<div class="layui-col-md-offset8 layui-col-md2 pinfodiv" style="height: 38px;line-height: 45px;">
								<p style="float: left;">查看 &nbsp;</p>
								<a href="#pinfo">《发起者协议》</a>
							</div>
							<div class="layui-col-md2 ">
								<button type="button" class="layui-btn saveBtn" id="saveBtn">保存，进入下一步</button>
							</div>
						</div>

					</div>
				</div>
				<!-- 左边留白两格 -->
				<div class="layui-col-md2 layui-col-xs2 blankCol1"></div>
			</div>

			<!-- 结尾部 -->
			<br /><br /><br />
			<hr style="width: 100%;height: 1px;" />
			<footer class="myFooter">
				<br /><br />
				<span class="layui-breadcrumb" lay-separator=" ">
					<a href="">关于我们</a>
					<a href="">联系我们</a>
					<a href="">意见反馈</a>
					<a href="">版权许可</a>
					<a href="">客服帮助</a>
				</span>
				<br /><br />
				<div style="color: #9F9F9F;">CopyRight 梦想众筹 2019-2020 @Athink_</div>
				<br /><br />
			</footer>
		</div>
	</body>
</html>
